<nav class="w-15 min-w-15 p-2 h-auto bg-sidebar-background">
    <ul>
        <li class="w-full h-11 flex items-center justify-center mb-2">
            <a href="{% url 'home' %}"
               class="size-full bg-black flex rounded-lg items-center justify-center">
                <i class="fa-solid fa-database text-white text-xl"></i>
            </a>
        </li>
        <!-- Links -->
        <li class="w-full h-11 p-2 rounded-lg hover:bg-gray-100 transition-colors mt-2">
            <a class="size-full flex items-center justify-center" href="/">
                <i class="fa-duotone fa-thin fa-home text-[20px]"></i>
            </a>
        </li>
        <li class="w-full h-11 p-2 rounded-lg hover:bg-gray-100 transition-colors mt-2">
            <a class="size-full flex items-center justify-center"
               href="{% url 'images' %}">
                <i class="fa-duotone fa-thin fa-image text-[20px]"></i>
            </a>
        </li>
    </ul>
</nav>
